.cover-wrp {
  position: relative;
  width: 202px;
  border: 1px solid #000;
  &.hor {
    height: 117px;
  }
  &.ver {
    height: 302px;
  }
  >div {
    width: 100%;
    height: 100%;
    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
  }
}
