.cartoon_content_chapter_modal {
    .ant-upload-list-picture-card-container {
        height: 100%;

        .ant-upload-list-item {
            height: 104px;
        }

        .custom_desc_item {
            margin-top: 10px;
            width: 104px;
            height: 25px;
            padding: 0 5px;
        }

        .custom_desc_item:empty {
            visibility: visible;
        }
    }
}
